body {
  background: #1c1;
  color: white;
  text-align: center;
  font-family: sans-serif;
}

audio {
  width: 90%;
}
}.song {
  background: #1c1c1c;
  padding: 15px;
  margin: 20px;
  border-radius: 15px;
}.song {
  background: #1c1c1c;
  padding: 15px;
  margin: 20px;
  border-radius: 15px;
}

.song h3 {
  margin-bottom: 10px;
}